a(name='posting')
h1 Posting
hr

a(name='tripcodes')
h2 Tripcodes
p.
  To use a tripcode, add a #[code #] in the name field followed by a
  password for the tripcode. #[br]
  A hash will be applied to the password and the result will be displayed
  instead.
p.
  To use a secure tripcode, prepend two #[code #] instead of one. A secure
  tripcode will generate a random text that will only be displayed if
  your password matches.

a(name='role-signatures')
h2 Role signatures
p.
  If you wish to display your global or board role when posting, put
  #[code: span.detail(title='case insensitive') #rs] in the name field.
  You can't use your role signature and a tripcode at the same time. #[br]
  There is a setting in #[a(href=accountSettingsUrl) account settings]
  to always display your role signature by default.

a(name='formatting')
h2 Formatting
a(name='post-quote')
h3 Post quote
p.
  If you write #[code= '>>'] followed by the ID number of a post made in
  the same board, a link to this post will be created.

.usageExample
  p: a.quoteLink(href='#') >>713705

a(name='board-link')
h3 Board link
p.
  If you write #[code= '>>>'] followed by a board's URI between slashes, a
  link to that board will be created.

.usageExample
  p: a.quoteLink(href='#') >>>/furry/

a(name='cross-board-quote')
h3 Cross-board quote
p.
  It's also possible to quote posts from other boards. Just append a post ID
  number to a board link.

.usageExample
  p: a.quoteLink(href='#') >>>/cuteboys/15

a(name='tags')
h3 Tags
a(name='greentext')
h4 Greentext
p.
  If you add a #[code= '>'] at the start of a line, for some reason the text
  following it will be green.

.usageExample#greenTextExample
  p
    span.greenText >mfw #[br]
    span.greenText >kek #[br]
    span.greenText >how does this work #[br]

a(name='redtext')
h4 Redtext
p.
  Surround your text with #[code= '=='] to make it important.

.usageExample
  pre ==I'm so small and insignificant why does no one notice me==
  p.result
    span.redText Hi everyone how's it going? It's beautiful outside!

a(name='italic')
h4 Italic

.usageExample
  pre This place is giving me a feeling of ''deja vu''...
  p.result This place is giving me a feeling of #[em deja vu]...

a(name='underline')
h4 Underline

.usageExample
  pre Do __not__ abuse these features or bad things __will__ happen.
  p.result Do #[u not] abuse these features or bad things #[u will] happen.

a(name='bold')
h4 Bold

.usageExample
  pre '''such wow much text formatting'''
  p.result.
    #[strong such wow much text formatting] #[br]
    #[span.divBanMessage (USER WAS BANNED FOR THIS POST)]

a(name='strikethrough')
h4 Strikethrough

.usageExample
  pre ~~linux~~ is the best operating system in the world
  p.result.
    #[s linux] #[em GNU+Linux] is the best operating system in the world


a(name='spoiler')
h4 Spoiler
p. 
  Text surrounded by #[code= '[spoiler]'] and #[code= '[/spoiler]']
   tags will be masked until it is hovered over.  #[br]
  You can't break lines between the two tags.

.usageExample
  pre My favorite pokemon is [spoiler]pikachu[/spoiler]
  p.result
    | My favorite pokemon is #[span.spoiler= 'you____']

a(name='code')
h4 Code
p.
  If enabled by the board owner, text surrounded with #[code= '[code]'] and #[code= '[/code]'] tags will use a monospace font and preserve white-space.

.usageExample
  pre.
    if (Tweeter= #{siteTitle})
      cout << "Block." << endl;
    else
      if ( Tweet=Negative)
        cout << "Block" << endl;

a(name='urls')
h3 Urls
p.
  Urls beginning with #[code http] or #[code https] will automatically be
  converted to hyperlinks.

.usageExample
  p
    a(href='https://instagram.com/taylorswift/')
      | https://instagram.com/taylorswift/
