// =Color theme
//  Yotsuba B
//------------------------------------------------------------
$palette-colors: (
  'bgMain':      #EEF2FF,
  'fgMain':      #000000,
  'bgAlt':       #D6DAF0,
  'fgAlt':       #000000,

  'accentA':     #9988EE,
  'accentB':     #E04000,

  'warning':     #F9B3BC
);

//------------------------------------------------------------
$headerBgColor: transparent;
$headerBorderColor: transparent;

//------------------------------------------------------------
//$regularFont: ;
$monospaceFont:  'Meslo LG S DZ', Monaco, monospace;

$vibrant: true;

$dropShadows: 'full';
$shadowsAlpha:  0.03;

$borderStyle:    solid;
$borderWidth:    1px;

$defaultPadding: 1em;

$linkColor:      #34345C;
$linkHoverColor: #F00;

$nameColor:      #117743;
$nameBold:       600;
$roleColor:      #F00;
$subjectColor:   #0F0C5D;
$subjectBold:       600;

$markedPostBgColor:  #f0c0b0;
$makredPostBorderColor: #d9bfb7;

$quoteLinkColor: #D00;
$greenTextColor: #789922;

$bodyBackground: linear-gradient(to bottom, #D1D5EE, #EEF2FF 18em) #EEF2FF no-repeat;

$headerTitleColor: #AF0A0F;

$catalogCellBgColor: #E7EBF6;
$catalogCellBorderSize: 2px;
$catalogCellBorderColor: #BEC1C8;
$catalogCellLinkHoverBgColor: #D6DAF0;
