extends ../jade/base

block append styles
  +style('account.css')
block append scripts
  +script('account.js')

block content
  section#account
    h4 Logged in as #[span#labelLogin]

    form(action='/logout.js')
      input#logoutJsButton(type='button', onclick='logout()',
        style='display: none', value='Logout')
      input#logoutFormButton(type='submit', value='Logout')

    a#globalManagementLink(href='/globalManagement.js') Global management

  section#createBoard
    form(action='/createBoard.js', enctype='multipart/form-data',
      method='post')
      fieldset
        label(for='newBoardFieldUri') Board URI
          input#newBoardFieldUri(type='text', name='boardUri')
        label(for='newBoardFieldName') Board name
          input#newBoardFieldName(type='text', name='boardName')
        label(for='newBoardFieldDescription') Board description:
          input#newBoardFieldDescription(type='text',
            name='boardDescription')
        input#newBoardJsButton(type='button', onclick='createBoard()',
          style='display: none', value='Create board')
        input#newBoardFormButton(type='submit', value='Create board')

  section#ownedBoards
    h1 Owned boards
    #boardsDiv
