extends ../jade/base

block append bottomScripts
  +script('ext.js')

block append styles
  +script('ext.css')

block headerTitle
  +title(l.titBans)

block content
  main#bansDiv

block pageId
  +pageId('bans')
