<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel=stylesheet href="http://static.localhost:8080/css/main.css">
  <link rel=stylesheet href="http://static.localhost:8080/css/board.css">
</head>
<body>
  <h1 id="labelName"></h1>
  <h3 id="labelDescription"></h3>
  <nav id="menu">
    <a href="/account.js">Account</a>
  </nav>
  <a id="linkManagement">Manage Board</a>

  <div id="content">
    <form
      action="../newThread.js"
      enctype="multipart/form-data"
      method="post">
      Name:
      <input
      type="text"
      id="fieldName"
      name="name" />
      Subject:
      <input
      type="text"
      id="fieldSubject"
      name="subject" />
      Email:
      <input
      name="email"
      type="text"
      id="fieldEmail">
      Password:
      <input
      name="password"
      type="password"
      id="fieldPassword">
      <span style="vertical-align: top;">Message:</span>
      <textarea
        rows="8"
        cols="50"
        name="message"
        id="fieldMessage"></textarea>
      Images:
      <input
      type="file"
      id="files"
      name="files"
      multiple>
      <input
      type="button"
      id="jsButton"
      onClick="postThread()"
      value="Create thread"
      style="display: none;">
      <input
      type="submit"
      id="formButton"
      value="Create thread">
      <input
      id="boardIdentifier"
      type="hidden"
      name="boardUri">
    </form>

    <form
      method="post"
      action="../contentActions.js"
      enctype="multipart/form-data">
      <div id="divPostings"></div>
      Reason:
      <input
      type="text"
      id="reportFieldPassword"
      name="reason">
      Password:
      <input
      type="password"
      id="deletionFieldPassword"
      name="password">
      <input
      type="checkbox"
      name="global">
      Global report
      <input
      type="submit"
      id="deleteFormButton"
      value="Delete"
      name="action">

      <input
      type="button"
      style="display: none;"
      id="deleteJsButton"
      onClick="deletePosts()"
      value="Delete">
      <input
      type="submit"
      id="reportFormButton"
      value="Report"
      name="action">

      <input
      type="button"
      style="display: none;"
      id="reportJsButton"
      onClick="reportPosts()"
      value="Report">

    </form>
  </div>

  <div id="divPages"></div>

</body>

<script src="http://static.localhost:8080/settings.js"></script>
<script src="http://static.localhost:8080/api.js"></script>
<script src="http://static.localhost:8080/board.js"></script>
<script src="http://static.localhost:8080/posting.js"></script>

</html>
