extends ../jade/base.jade

block append scripts
  +script('board.js')
  +script('posting.js')

block prepend header
  img#bannerImage

block headerTitle
  +title('#labelName', '#labelDescription')

block append userMenu
  a#linkManagement Manage Board

block pageMenu
  +pageMenuEntry
    a(href='catalog.html') Catalog

block content
  include ../jade/createThread
  #divPostings
  label(for='reportFieldReason') Reason
    input#reportFieldReason(type='text', name='reason')
  label(for='deletionFieldPasword') Password
    input#deletionFieldPassword(type='password', name='password')
  label(for='checkboxGlobal') Global
    input#checkboxGlobal(type='checkbox', name='global')
  input#deleteFormButton(type='submit', value='Delete', name='action')
  input#deleteJsButton(type='button', style='display: none;',
    onclick='deletePosts()', value='Delete')
  input#reportFormButton(type='submit', value='Report', name='action')
  input#reportJsButton(type='button', style='display: none;',
    onclick='reportPosts()', value='Report')

  #divPages

