extends ../jade/base

block pageId
  - var pageId = 'boards';

block title
  | Boards

block headerTitle
  +title(l.titBoardList)

block content
  section#divBoards

  a#linkPrevious.fa.fa-chevron-left
  nav#divPages
  a#linkNext.fa.fa-chevron-right
