extends ../jade/base

block headerTitle
  +title('#userLabel')

  form#addStaffForm(method='post', enctype='multipart/form-data',
    action='/setGlobalRole.js')
    label(for='fieldLogin') User login: 
      input#fieldLogin(type='text', name='login',
        placeholder='Username', required)
    label(for='newStaffCombo') Role:
      select#newStaffCombo(name='role', required)
    input.button.submit#addJsButton(type='button', onclick='addUser()',
      value='Add user', style='display: none;')
    input.button.submit#addFormButton(type='submit', value='Add user')
  div#divStaff
  ul
    li: a#bansLink(href='/bans.js') Bans
    li: a(href='/closedReports.js') Closed reports
      div#reportDiv

block append scripts
  +script('reports.js')
  +script('globalManagement.js')
