extends ../jade/base

a(href='/account.js') #{l.titAccount}
block headerTitle
  +title(siteTitle, '', '.')

block pageMenu
  +pageMenuEntry
    a(href='/logs') #{l.titLogs}

block content
  include $LANGUAGE_PACK/jade/frontPageMessage.jade
  section#indexBoardList
    h1 #{l.titTopBoards}
    nav#divBoards
    footer: a(href='/boards.js') #{l.titAllBoards}

block pageId
  +pageId('index')
