extends ../jade/base

a(href='/account.js') Account
block headerTitle
  +title(siteTitle)

block pageMenu
  +pageMenuEntry
    a(href='/logs') Logs

block content
  p Welcome.
  section
    h1 Top boards
    nav#divBoards
    footer: h2: a(href='/boards.js') All boards
