extends ../jade/bare

block pageId
  - var pageId = 'rangeBanned';

block append bottomScripts
  +script('ext.js')

block middle
  section.box-center
    h1 #{l.titRangeBanned}
    p.
      #{l.guiRangeBannedMessage.startToRange}
       #[span#rangeLabel]
       #{l.guiRangeBannedMessage.middleToBoard}
       #[span#boardLabel]#{l.guiRangeBannedMessage.end}.
