extends ../jade/base

block headerTitle
  +title(l.titBoardRules, '', '..')

block content
  h1
    | #{l.guiBoardRulesLabel.start}
    | #[span#boardLabel]
    | #{l.guiBoardRulesLabel.end}
  table#divRules
