<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 
    </title>
    <link rel="stylesheet" href="http://static.localhost:8080/css/main.css">
    <link rel="stylesheet" href="http://static.localhost:8080/css/ext.css"/>
  </head>
  <body>
    <header>
      <h1>LynxChan</h1>
      <h1 id="codeLabel"></h1>
      <nav id="userMenu">
        <ul>
          <li><a href="/account.js">Account</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="middle">
      <main id="content">
        <h4 id="errorLabel"></h4>
      </main>
    </div>
    <footer>
    </footer>
    <script src="http://static.localhost:8080/settings.js"></script>
    <script src="http://static.localhost:8080/api.js"></script>
  </body>
</html>