<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 
    </title>
    <link rel="stylesheet" href="http://static.localhost:8080/css/main.css">
  </head>
  <body>
    <header>
      <h1 id="userLabel"></h1>
      <form id="addStaffForm" method="post" enctype="multipart/form-data" action="/setGlobalRole.js">
        <label for="fieldLogin">User login: 
          <input id="fieldLogin" type="text" name="login">
        </label>
        <label for="newStaffCombo">Role:
          <select id="newStaffCombo" name="role"></select>
        </label>
        <input id="addJsButton" type="button" onclick="addUser()" value="Add user" style="display: none;">
        <input id="addFormButton" type="submit" value="Add user">
      </form>
      <div id="divStaff"></div><a id="bansLink" href="/bans.js">Bans</a><a href="/closedReports.js">Closed reports</a>
      <div id="reportDiv"></div>
      <nav id="userMenu">
        <ul>
          <li><a href="/account.js">Account</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="middle">
      <main id="content">
      </main>
    </div>
    <footer>
    </footer>
    <script src="http://static.localhost:8080/settings.js"></script>
    <script src="http://static.localhost:8080/api.js"></script>
    <script src="http://static.localhost:8080/reports.js"></script>
    <script src="http://static.localhost:8080/globalManagement.js"></script>
  </body>
</html>