@import '../sass';

$pageFooterPaddingHorizontal: 5em;

#pageFooter {
  @include altColors;
  border-top: 1px solid $borderColorAlt;
  border-bottom: none;
  margin: 0;
}

#pageFooterItems {
  margin: 0;
  padding: $pageFooterPaddingTop $pageFooterPaddingHorizontal 0 $pageFooterPaddingHorizontal;

  font-size: $pageFooterItemsSize;
  text-align: center;
}
