@import '../sass';

/*------------------------------------------------------------*
 * =Header
 *------------------------------------------------------------*/
#pageHeader {
  border-bottom: solid $pageHeaderBorderBottomSize;
  padding: $headerPadding;
  text-align: center; // Center headerTitle

  height: $pageHeaderHeight;

  @include headerColors;
}

#headerTitle {
  font-size: 1em;
  margin: 0;
  display: inline-block;
}
#headerTitle .mainTitle {
  display: block;
  color: $headerTitleColor;
  font-size: 2em;
}
#headerTitle .subTitle {
  display: block;
  color: $headerSubTitleColor;
  font-size: 1em;
}

#headerLogo {
  float: left;
  @include negatePadding($top: $headerPadding, $left: $headerPadding);
  margin-right: $headerPadding;

  width: $logoWidth;
  height: $logoHeight;
  overflow: hidden;
}

#bannerImage {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

#userMenu {
  display: block;
  float: right;
  text-align: right;
}

