@import '../sass';

/*------------------------------------------------------------*
 * =Header
 *------------------------------------------------------------*/
#pageHeader {
  float: left; // For logo floating context
  border-bottom: solid $pageHeaderBorderBottomSize;
  padding: $headerPadding;
  text-align: center; // Center headerTitle

  height: $pageHeaderHeight;

  @include headerColors;
}

#headerTitle {
  font-size: 1em;
  margin: 0;
  display: inline-block;
}
#headerTitle .mainTitle {
  display: block;
  color: $headerTitleColor;
  font-size: 2em;
}
#headerTitle .subTitle {
  display: block;
  color: $headerSubTitleColor;
  font-size: 1em;
}


#headerLogo {
  float: left;
  @include negatePadding($top: $headerPadding, $left: $headerPadding);
  margin-right: $headerPadding;
  @if $logoWidth  { width:  $logoWidth; }
  @if $logoHeight { height: $logoHeight; }
}

#headerBanner {
  margin-top: $defaultPadding;
  display: inline-block;
  overflow: hidden;
  @if $bannerWidth  { width:  $bannerWidth; }
  @if $bannerHeight { height: $bannerHeight; }
}

#bannerImage {
  @if $bannerWidth  { width:  inherit; }
  @if $bannerHeight { height: inherit; }
  @if $bannerWidth or $bannerHeight {
    object-fit: cover;
  }
}

#userMenu {
  font-size: $smallFontSize;
  display: block;
  position: absolute;
  right: 0; top: 0;
  text-align: right;
  padding-right: 0.3em;
}

