@import '../sass';

/*------------------------------------------------------------*
 * =Input
 *------------------------------------------------------------*/
// All text input fields including textarea
@include text-inputs(true) {
  padding: $textInputsPadding;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input:not([type="file"]), button, textarea {
  & {
    background-color: $inputBgColor;
    @include inputBorder;
    border-radius: 2px;
    color: $inputColor;
  }
  box-shadow: none;

  &:hover {
    @include inputBorder($inputHoverBorderColor);
  }
  &:active, &:focus {
    @include inputBorder($inputFocusBorderColor);
  }
}

/* =Button
 *------------------------------*/
.button {
  @if $animationSpeed {
    transition: $animationSpeed * 1.1 ease-out;
  }
}

.button:not(html) {
  margin: $buttonMargin;
  padding: $buttonPadding;

  border: $buttonBorder;
  border-radius: $buttonBorderRadius;
  @include buttonColors;
}

// not() is just to increase specificity
.submit:not(html) {
  margin: $submitMargin;
  padding: $submitPadding;
  @include submitColors;
}

.button.careful:hover {
  background-color: $buttonCarefulBgColor;
  border-color: $buttonCarefulBgColor;
  color: $buttonCarefulColor;
}

//.transparent {
//  background: transparent;
//  border: none!important;
//  font-size: 0;
//}

/* =Checkbox
 *------------------------------*/
input[type="checkbox"] {
  vertical-align: middle;
}
