@import '../sass';

.notification {
  $notificationTopPadding: ($notificationPadding * 0.7);

  display: inline-block;

  background-color: $notificationBgColor;
  color: $notificationColor;
  border: $borderWidth $notificationBorderColor;
  border-style: none solid solid solid;

  .notificationInner {
    padding: $notificationTopPadding $notificationPadding
      $notificationPadding $notificationPadding;
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
  }

  &.neutral {
  }
  &.positive {
    background-color: take-lightness(palette('good'), $notificationBgColor, $weight: 65%);
    border-color: take-lightness(palette('good'), $notificationButtonColor, $weight: 65%);

    .closeButton {
      color: take-lightness(palette('good'), $notificationButtonColor, $weight: 65%);
    }
  }
  &.negative {
    background-color: take-lightness(palette('bad'), $notificationBgColor, $weight: 65%);
    border-color: take-lightness(palette('bad'), $notificationButtonColor, $weight: 65%);

    .closeButton {
      color: take-lightness(palette('bad'), $notificationButtonColor, $weight: 65%);
    }

  }

  .closeButton {
    display: inline-block;
    float: right;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: $notificationButtonColor;
    margin: $notificationTopPadding ($internalPadding / 2) $internalPadding 0;
  }
}
