@import '../sass';
/* =Board and Thread
 *------------------------------*/
$opBackgroundColor: intensify-lightness(
  palette('bgMain'), palette('fgMain'), 5);
$opColor: palette('fgMain');

$replyBackgroundColor: palette('bgAlt');
$replyColor: palette('fgAlt');

$postInternalPadding: $defaultPadding * 0.9;

$postOpBorderColor: intensify($opBackgroundColor, palette('fgMain'), 4);
$postOpSpecialBorderColor: intensify(palette('bgAlt'), palette('fgMain'), 10);
.opCell {
  $opRegularBorder: 1px solid $postOpBorderColor;

  margin-top: $defaultPadding * 2.5; //Temporary TODO
  color: $opColor;
  //background-color: $opBackgroundColor;
  border-top: $postOpSpecialBorderColor solid 1px;

  border-bottom: $opRegularBorder;
  border-right: $opRegularBorder;
  /* Special border */
  border-left: ($opPaddingLeft - $defaultPadding) solid $postOpSpecialBorderColor;
}

$postMessageVerticalPadding: $defaultPadding * 1.2;

.postOp, .postReply {
  padding-bottom: $postMessageVerticalPadding;
}

$postReplyBorderColor: intensify(palette('bgAlt'), palette('fgMain'), 5);
.postReply {
  border: solid 1px;
  color: $replyColor;
  background-color: $replyBackgroundColor;
  border: 1px $postReplyBorderColor;
  border-style: none solid solid none;
  margin-left: $replyMarginLeft;
  margin-right: $replyMarginRight;
}

//$markedPostHue: (hue(palette('accentB')) + hue(palette('bgAlt'))) / 2!default;
$markedPostHue: hue(#0f0)!default;//DEBUG

.markedPost .postReply {
  background-color: change-color($replyBackgroundColor, $hue: $markedPostHue);
  border-color: change-color($postReplyBorderColor, $hue: $markedPostHue);
}
.opCell .markedPost {
  background-color: change-color($opBackgroundColor, $hue: $markedPostHue);
}


/* Containers */
.opCell {
  //background-color: $opBackgroundColor;
}
.postCell {
  margin-top: $defaultPadding / 2.3;
}

.panelUploads {
  float: left;
  display: inline-block;
  margin-top: -$postMessageVerticalPadding;

  .fileInfo {

  }
  .infoLabel {
  }

  .imgLink {
    display: inline-block;
  }

  .imgExpanded {
    max-width: 100%;
    width: 100%;
  }

}

.uploadCell {
  display: inline-block;
}

.opCell, .postCell {
  display: block;

  article{
    display: inline-block;
  }

  .divMessage {
    display: inline;
    margin: $defaultPadding 0;
  }
}

/* =Post Header
------------------------------------------------------------*/
$postHeaderSmallFontSize: 0.8em;
$opHeaderBackgroundColor: transparent;
$replyHeaderBackgroundColor: soften-lightness($postReplyBorderColor, palette('fgAlt'), 25);
$replyHeaderBackgroundColor: transparent;

.postOpHeader, .postReplyHeader {
  color: soften-lightness(palette('fgAlt'), palette('bgAlt'), $fontColorContrast * 100);

  margin-bottom: $postMessageVerticalPadding;

  ul {
    list-style: none;
    padding: 0 0.4em;
    margin: 0;
  }
  li {
    display: inline-block;
  }

  .labelCreated, .labelId {
    font-size: $postHeaderSmallFontSize;
  }

}
.postOpHeader {
  background-color: $opHeaderBackgroundColor;
  border-bottom: 1px solid $postOpBorderColor;
}
.postReplyHeader {
  background-color: $replyHeaderBackgroundColor;
}

.deletionCheckbox {
  float: left;
}

/* =Post Content
------------------------------------------------------------*/
.postContent {
  padding: 0 $postInternalPadding;
}
