@import '../sass';
//------------------------------
$singleLineFieldRowHeight: 1.5em;
//------------------------------

#postFormWrapper {
  border: $borderStyle $borderWidth $postFormBorderColor;
  background: $postFormBgColor;
  color: $postFormColor;
  @if $shadows {
    box-shadow: 0 0 $shadowsRadius $shadowsColor;
    border-color: soften($postFormBorderColor, $bodyBgColor, (600 * $shadowsAlpha));
  }
}
#postFormWrapper h1 {
  @include minorHeader($coverBorder: 1px);
}


.postForm {
  margin-top: $postFormExternalPadding;
  box-sizing: content-box;
  position: relative;
  width: $postFormInternalWidth + ($postFormExternalPadding * 2);
  @include marginHorizontal(auto);
  padding-bottom: $postFormExternalPadding;
}

#authorInfo, #messageArea, #captchaDiv, #sendPost {
  @include paddingHorizontal($postFormExternalPadding);
}
#authorInfo {
  padding-top: $postFormPadding;
}

@mixin positionConsecutivePostFormRows($IDs, $height) {
  $index: 0;
  $offset: $postFormPadding;
  @each $ID in $IDs {
    $top: ($height * $index) + $offset;

    #postFormWrapper label[for='#{$ID}'] {
      position: absolute;
      left: $postFormExternalPadding;
      top: $top;
    }
    #postFormWrapper ##{$ID} {
      position: absolute;
      right: $postFormExternalPadding;
      top: $top;
    }

    $index: $index + 1;
  }

  #authorInfo {
    height: $height * $index;
  }
}
@include positionConsecutivePostFormRows(
  'fieldName' 'fieldEmail' 'fieldPostingPassword' 'fieldSubject',
  $singleLineFieldRowHeight);

/* =User information
 *------------------------------*/
#postFormWrapper label[for='fieldName'] {
}
#postFormWrapper #fieldName {
}

#postFormWrapper label[for='fieldEmail'] {
}
#postFormWrapper #fieldEmail {
}

#postFormWrapper label[for='fieldPostingPassword'] {
}
#postFormWrapper #fieldPostingPassword {
}


/* =Content
 *------------------------------*/
label[for='fieldSubject'] {
}
#fieldSubject {
}

@include hideLabel('fieldMessage');
label[for='fieldMessage'] {
}

$textAreaOversizeCompensation: 2px;

#fieldMessage {
  $widthFallback: 100%;
  $width: calc(100% - #{$textAreaOversizeCompensation});
  $height: (153 / $emMostCommonPxSize) * 1em;
  width: $widthFallback;
  width: $width;
  min-width: $widthFallback;
  min-width: $width;
  height: $height;
  min-height: $height / 2;
}

#messageFiles {
  width: $postFormInternalWidth;
}

#filesWrapper {
  width: $postFormInternalWidth;
  display: block;
}
#filesWrapper > label {
  display: none;
  padding-top: 0.3em;     //Magic number, not good. TODO
}

#files {
  width: $postFormInternalWidth;
  float: right;
  color: soften-lightness($postFormColor, $postFormBgColor, 30);
}
#filesInfo {
  display: inline-block;
  clear: right;
  float: right;
}
#filesSpoiler {
  display: inline-block;
  float: left;
} // TODO: vertically center checkbox

/* =Captcha
 *------------------------------*/
$captchaCharactersCount: 6;

#captchaDiv {
  //width: $captchaImageWidth;
  @include marginHorizontal(auto);
  //display: block;
}

@include hideLabel('captchaImage');
$captchaImageRatio: 1 / 3;
#captchaImage {
  width: $captchaImageWidth;
  height: $captchaImageWidth * $captchaImageRatio;
}


$fieldCaptchaHeight: 1.5em;

@include hideLabel('fieldCaptcha');
label[for='fieldCaptcha'] {
}
#fieldCaptcha {
  height: $fieldCaptchaHeight;
  width: #{$captchaCharactersCount}em;
  font-family: $monospaceFont;
}

#reloadCaptchaButton {
  height: $fieldCaptchaHeight;
  margin: 0;
  padding: 0;
}

#noCookiesCaptchaLink {
  float: left;
}

.postSubmit {
  max-width: $postFormInternalWidth;
  display: block;
  @include marginHorizontal(auto);
  margin-top: $postFormExternalPadding * 0.6;
  padding: 0.3em 0.6em;
}
