@import '../sass';

/* =Board and Thread
 *------------------------------*/
$opBackgroundColor: intensify-lightness(
  palette('bgMain'), palette('fgMain'), 5);
$opColor: palette('fgMain');

$replyBackgroundColor: palette('bgAlt');
$replyColor: palette('fgAlt');

$postInternalPadding: $defaultPadding * 0.9;

$postOpInnerBorderColor: intensify($opBackgroundColor, palette('fgMain'), 4);
$postReplyInnerBorderColor: intensify($replyBackgroundColor, palette('fgMain'), 4.5);
$postOpSpecialBorderColor: $minorHeaderBgColor;
$opRegularBorder: 1px solid $postOpInnerBorderColor;

.opWrapper {
  margin-top: $defaultPadding * 2.5; //Temporary TODO
  color: $opColor;
  //background-color: $opBackgroundColor;
  border-top: $postOpSpecialBorderColor solid 1px;

  //border-bottom: $opRegularBorder; //set by .labelOmission instead
  border-right: $opRegularBorder;
  /* Special border */
  border-left: ($opPaddingLeft - $defaultPadding) solid $postOpSpecialBorderColor;
}

$postMessageVerticalPadding: $defaultPadding * 1.2;

.postReply {
  padding-bottom: $postMessageVerticalPadding;
}

$postReplyBorderColor: intensify(palette('bgAlt'), palette('fgMain'), 7);
.postReply {
  border: solid 1px;
  color: $replyColor;
  background-color: $replyBackgroundColor;

  border: 1px $postReplyBorderColor;
  border-style: none solid solid none;

  margin-left: $replyMarginLeft;
  margin-right: $replyMarginRight;
}

//$markedPostHue: (hue(palette('accentB')) + hue(palette('bgAlt'))) / 2!default;
$markedPostHue: hue(#0f0)!default;//DEBUG

.markedPost .postReply {
  background-color: change-color($replyBackgroundColor, $hue: $markedPostHue);
  border-color: change-color($postReplyBorderColor, $hue: $markedPostHue);
}
.opWrapper .markedPost {
  background-color: change-color($opBackgroundColor, $hue: $markedPostHue);
}


/* Containers */
.opWrapper {
}
.postCell {
  margin-top: $defaultPadding / 2.3;
}

.panelUploads {
  float: left;
  display: inline-table;
  border-collapse: collapse;
  margin-top: -$postMessageVerticalPadding;

  .fileInfo {
    display: table-caption;
    caption-side: bottom;
    line-height: 0.9em;
  }
  /* eg. 21502435.jpg */
  .nameLink {
    margin-right: 1em;
  }
  /* eg. 41.02 KB, 395x526 */
  .infoLabel {
  }

  .imgLink {
    display: table-cell;
  }

  .imgExpanded {
    max-width: 100%;
    width: 100%;
  }

}

.uploadCell {
  display: inline-block;
  padding-right: $postInternalPadding;
  margin-top: $postInternalPadding / 2;
}

// Fill width when post has multiple files
.multipleUploads .panelUploads {
  display: block;
  width: 100%;
}

.opWrapper, .postCell {
  display: block;

  article{
    display: inline-block;
  }

  .divMessage {
    display: inline;
    margin: $defaultPadding 0;
  }
}

.labelOmission {
  padding-top: $postInternalPadding / 3;
  padding-left: $defaultPadding;
  $topBorderSize: 1px;
  border-top: solid $topBorderSize $postOpInnerBorderColor;
  margin-top: -$topBorderSize; // Compensate so it looks like the border is part of .opWrapper

  color: soften-lightness(palette('fgMain'), palette('bgMain'), 70);
  font-size: $smallFontSize * 1.1;
}

.uploadCell .fileInfoInner {
  display: inline-block;
  border-bottom: 1px solid transparent;
  opacity: 0;
  @if $animationSpeed {
    transition: opacity ($animationSpeed * 0.5) ease-in-out;
  }
}
.uploadCell:hover .fileInfoInner {
  opacity: 1;
  border-bottom-color: $postOpInnerBorderColor;
}

/* =Post Header
------------------------------------------------------------*/
$postHeaderSmallFontSize: $smallFontSize;
$opHeaderBackgroundColor: transparent!default;
//$replyHeaderBackgroundColor: soften-lightness($postReplyBorderColor, palette('fgAlt'), 25);
$replyHeaderBackgroundColor: transparent!default;
$postOpHeaderColor: soften-lightness(palette('fgAlt'), palette('bgMain'), $fontColorContrast * 100)!default;
$postReplyColor: soften-lightness(palette('fgAlt'), palette('bgAlt'), $fontColorContrast * 100)!default;

.postOpHeader, .postOpHeader a, .fileInfo {
  color: $postOpHeaderColor;
}
.postReplyHeader, .postReplyHeader a, .fileInfo {
  color: $postReplyColor;
}
.postOpHeader a, .postReplyHeader a {
  &:hover {
    color: $linkHoverColor;
  }
}

$postModActionWidth: 1em; //deletion checkbox or dropdown menu arrow, MAGIC
.postOpHeader, .postReplyHeader {

  margin-bottom: $postMessageVerticalPadding;

  ul {
    position: relative;
    list-style: none;
    padding: 0.15em 0 0 0.5em;
    margin: 0 0 0 $postModActionWidth;
  }
  li {
    display: inline-block;
    margin-right: 0.5em;
    &:last-child {
      margin-right: 0.3em;
    }
  }

  .labelCreated, .spanId, .linkSelf {
    font-size: $postHeaderSmallFontSize;
  }
  .spanId {
    margin-left: -0.1em; //Compensate for bigger name and role fonts
  }

}
.postOpHeader {
  background-color: $opHeaderBackgroundColor;
}
.postOpHeader .postHeaderInner {
  display: inline-block;
  border-bottom: 1px solid $postOpInnerBorderColor;
}
.postReplyHeader {
  background-color: $replyHeaderBackgroundColor;
}
.postReplyHeader .postHeaderInner {
  display: inline-block;
  border-bottom: 1px solid $postReplyInnerBorderColor;
}

input[type='checkbox'].deletionCheckBox {
  float: left;
  margin-top: 0.07em; //MAGIC
  margin-left: 0.07em;
}
.postOpHeader, .postReplyHeader {
  li:nth-child(2) {
  }
}

/* =Post Content
------------------------------------------------------------*/
.postContent {
  padding: 0 $postInternalPadding;
}
