@import '../sass';

// Message header
//------------------------------------------------------------
.postOpHeader, .postReplyHeader {
  // Board owner, Volunteer, ..
  .labelRole {
    color: $roleColor;
  }

  // Anonymous->sage
  .linkName {
    @include font-weight-opt($nameBold);

    color: $nameEmailColor;
    text-decoration: underline;
    // Anonymous
    &.noEmailName {
      color: $nameColor;
      text-decoration: none;
    }
  }

  // [Reply]
  .linkReply {
    color: $linkReplyColor;
  }
}

.labelSubject { // In catalog too
  @include font-weight-opt($subjectBold);
  color: $subjectColor;
}


// Message body
//------------------------------------------------------------
// '>>12401'
@if $quoteLinkColor != $linkColor {
  .quoteLink, .postPreviewTooltip .quoteLink {
    color: $quoteLinkColor;
  }
}

// >mfw
.greenText {
  color: $greenTextColor;
}

.redText, .divBanMessage {
  color: $redTextColor;
  font-size: $redTextFontSize;
  font-weight: $redTextBold;
}

// Should be masked until hovered over
.spoiler {
  color: $spoilerColor;
  background-color: $spoilerColor;
}
.spoiler:hover {
  color: $spoilerColorHover;
}

$postCodeBgColor: soften-lightness(
  intensify-saturation($replyBgColor, $replyColor, $weight: 30),
  $replyColor, $weight: 50)!default;
$postCodeColor: soften-lightness($replyColor, $postCodeBgColor, 10)!default;
$postCodeBorderColor: intensify($postCodeBgColor, $postCodeColor, $weight: 10%)!default;

.divMessage code {
  font-size: 0.9em;
  white-space: pre;

  background-color: $postCodeBgColor;
  color: $postCodeColor;
  border: 1px solid $postCodeBorderColor;

  overflow: auto;
  max-width: 100%;
  display: inline-block;
  padding: 0.5em;
  //padding-left: 0.1em;
  //padding-right: 0.1em;
  //margin-left: -0.1em;
  //margin-right: -0.1em;
}
