@import '../sass';

.postCell, .opWrapper {
  .labelRole {
    color: $roleColor;
  }
}

.greenText {
  color: $greenTextColor;
}

.spoiler {
  $spoilerColor: soft-value(
    change-color(#000, $lightness: lightness(palette('fgMain'))));
  color: $spoilerColor;
  background-color: $spoilerColor;
}
