// Extra styles
// For pages that most users aren't likely to view
//------------------------------------------------------------

@import 'sass';

//------------------------------------------------------------

//noCookieCaptcha
#labelCaptchaId {
  @include altColors;
}

//help page
.usageExample:before {
  content: 'Example';
  display: block;
  font-size: 0.8em;
  margin-bottom: 1em;
  
  @include altColors;
}

.usageExample {
}
