/* This stylesheet is included in all pages
 *------------------------------------------------------------*/
/* @include preprocessed.scss */

@import 'vendor';
@import 'sass';


/*------------------------------------------------------------*
 * =Layout
 *------------------------------------------------------------*/
//\@include debugBorders; //DEBUG

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#pageHeader {
  width: 100%;
}

#notFooter {
  min-height: 100%;
  padding-bottom: $defaultPadding;
}
#notFooter:after {
  content: "";
  display: block;
  clear: both;
}

/* Compensate page footer height */
#notFooter {
  margin-bottom: -$pageFooterHeight;
}

#pageFooter, #notFooter:after {
  height: $pageFooterHeight;
}

#pageFooter {
  width: 100%;
}

.opWrapper {
  margin-right: -$defaultPadding;
  padding-right: $postFormExternalWidth + $defaultPadding * 2;
  margin-left: -$defaultPadding;
  padding-left: $defaultPadding;
}
.postOp{ 
  margin-left: $postOpMarginLeft;
}
.divPosts {
  margin-right: $postFormExternalWidth + $defaultPadding * 2;
  margin-left: -$defaultPadding;
}

#postFormWrapper {
  width: $postFormExternalWidth;
  display: block;
  //top: $defaultPadding + $pageHeaderHeight;
  //right: $defaultPadding;
  float: right;
}

// TODO remove
//#threadContent, #boardContent {
//  margin-right: $postFormExternalWidth;
//  padding-right: $defaultPadding;
//}

#divPages {
  position: absolute;
  bottom: 0;
  width: 90%;
  width: calc(100% - #{$defaultPadding});
}


/*------------------------------------------------------------*
 * =General
 *------------------------------------------------------------*/
body {
  @if $bodyBackground {
    background: $bodyBackground;
  } @else {
    background-color: $bodyBgColor;
  }

  padding: 0;

  font-family: sans-serif;
}

/* Link */
a, .jsLink {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $linkHoverColor;
  }
}
.jsLink {
  cursor: pointer;
}

code {
  background-color: rgba(palette('bgAlt'), 0.5);
  color: mix(palette('fgMain'), palette('fgAlt'), 30);
  font-family: $monospaceFont
}

/* Naviguation */
nav > ul {
  list-style: none inside;
}
nav ul a {
  text-decoration: none;
}

hr {
  opacity: 0.1;
}

h4, h5, h6 {
  margin: 0.5em 0 0.4em 0;
}

.help {
  color: $helpIconColor;
  a {
    color: $helpIconColor;
    &:hover {
      color: $linkHoverColor;
    }
  }
}

.anchor {
  position: relative;
  display: block;
  height: 0;
}

.secondary {
  border-color: take-lightness(palette('warning'), $borderColorAlt, 100%);
  background-color: weighted('take-lightness', 10%,
    palette('warning'), $borderColorAlt, 100%);
}

.careful {
  border-color: take-lightness(palette('warning'), $borderColorAlt, 100%);
  background-color: weighted('take-lightness', 10%,
    palette('warning'), $borderColorAlt, 100%);
}

/*------------------------------------------------------------*
 * =Utility classes
 *------------------------------------------------------------*/
.hidden {
  display: none;
}

/*------------------------------------------------------------*
 * =Content, Middle
 *------------------------------------------------------------*/
#middle {
  position: relative;
  padding: $defaultPadding;
  bottom: 0;
}

#content p {
  padding: 1em;
}


/* =Form layout
 *------------------------------------------------------------*/
.form {
  display: table;
  border-collapse: collapse;

  .field {
    display: table-row;

    label {
      display: table-cell;
      padding: { right: $defaultPadding * 0.9; }
      vertical-align: middle;
    }
    input {
      display: table-cell;
      vertical-align: middle;
    }
    label, input {
      margin: { 
        top: $defaultPadding * 0.33;
        bottom: $defaultPadding * 0.33;
      }
    }
    .help {
      display: table-cell;
      padding: { left: max($defaultPadding, 0.5em); }
      vertical-align: middle;
    }
  }

  .submit {
    display: block;
  }
}

/*
.form {
  display: inline-block;
  > fieldset {
    display: inline-block;
  }

  .field {
    float: left;
    width: 100%;

    &:after {
      content: "";
      display: block;
      clear: left;
    }

    label {
      float: left;
    }
    input {
      float: right;
    }

    .help {
      padding: {
        left: max($defaultPadding * 0.5, 0.5em);
        right: max($defaultPadding * 0.5, 0.5em);
      }
      float: right;
    }
  }
}
*/

/*------------------------------------------------------------*
 * =Page specific
 *------------------------------------------------------------*/

/* =Post content
/* =Catalog
 *------------------------------*/
@import 'pages';

/* =Components
 *------------------------------*/
@import 'cmp';
