@import './sub/normalize.css';
@import './sub/box-sizing.css';
@import './sub/theme.scss';

/* ------------------------------------------------------------ */

body {
	background-color: $bgMain;
	color: $fgMain;

	margin: 0;
	padding: 0;

	font-family: sans;
}

a {
	color: mix($fgMain, $accentA);
}

input,
button,
textarea {
  background-color: $bgAlt;
  border: solid 1px $borderColorAlt;
  color: $fgAlt;
}

header {
	background-color: $bgAlt;
  color: $fgAlt;

  border-bottom: solid 1px $borderColorAlt;

	font-size: 1.5em;
	padding: 0.3em;
}

#content {
  padding: 0.3em;
}
