/* This stylesheet is included in all pages
 *------------------------------------------------------------*/
/* @include preprocessed.scss */

@import 'vendor';
@import 'sass';


/*------------------------------------------------------------*
 * =Layout
 *------------------------------------------------------------*/
//\@include debugBorders; //DEBUG

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#pageHeader {
  width: 100%;
}

#pageMenu {
  ul {
    padding: 0;
  }
}

#notFooter {
  min-height: 100%;
  padding-bottom: $defaultPadding;
}
#notFooter:after {
  content: "";
  display: block;
  clear: both;
}

/* Compensate page footer height */
#notFooter {
  margin-bottom: -$pageFooterHeight;
}

#pageFooter, #notFooter:after {
  height: $pageFooterHeight;
}

#pageFooter {
  width: 100%;
}

.opWrapper {
  margin-right: -$defaultPadding;

  padding-right: $defaultPadding;
  @include wider($wide) {
    padding-right: $postFormSideExternalWidth + $defaultPadding * 2;
  }
  margin-left: -$defaultPadding;
  padding-left: $defaultPadding;
}
.postOp{ 
  margin-left: $postOpMarginLeft;
}
.divPosts {
  margin-right: $defaultPadding;
  @include wider($wide) {
    margin-right: $postFormSideExternalWidth + $defaultPadding * 2;
  }
  margin-left: -$defaultPadding;
}

#secondaryHeader {
  text-align: center;
}

#postFormWrapper {
  display: inline-block;

  // Regular position: above posts

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  // Floating right of posts
  @include wider($wide) {
    width: $postFormSideExternalWidth;
    position: fixed;
    top: $defaultPadding + $pageHeaderHeight;
    right: $defaultPadding;
    float: right;

    &:after {
      content: none;
    }
  }
}

.pagesNav {
  float: left;
  margin-right: $defaultPadding;
}

// Board and Thread pages
.multiReport {
  float: right;
}
// Thread page
// eg.: Auto 97 [x] [Refresh]
.divRefresh {
  text-align: right;
  min-height: 1.3em;
  float: left;

  // eg.: Auto 15
  label {
    display: inline-block;
    min-width: 6em;
  }
}


/*------------------------------------------------------------*
 * =General
 *------------------------------------------------------------*/
body {
  @if $bodyBackground {
    background: $bodyBackground;
  } @else {
    background-color: $bodyBgColor;
  }

  padding: 0;

  font-family: sans-serif;
}

/* Link */
a, .jsLink {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $linkHoverColor;
  }
}
.jsLink {
  cursor: pointer;
}

code {
  background-color: rgba(palette('bgAlt'), 0.5);
  color: mix(palette('fgMain'), palette('fgAlt'), 30);
  font-family: $monospaceFont
}

/* Naviguation */
nav > ul {
  list-style: none inside;
}
nav ul a {
  text-decoration: none;
}

hr {
  opacity: 0.1;
}

h4, h5, h6 {
  margin: 0.5em 0 0.4em 0;
}

.help {
  color: $helpIconColor;
  a {
    color: $helpIconColor;
    &:hover {
      color: $linkHoverColor;
    }
  }
}

.anchor {
  position: relative;
  display: block;
  height: 0;
}

.secondary {
  border-color: take-lightness(palette('warning'), $borderColorAlt, 100%);
  background-color: weighted('take-lightness', 10%,
    palette('warning'), $borderColorAlt, 100%);
}

.careful {
  border-color: take-lightness(palette('warning'), $borderColorAlt, 100%);
  background-color: weighted('take-lightness', 10%,
    palette('warning'), $borderColorAlt, 100%);
}

/*------------------------------------------------------------*
 * =Utility classes
 *------------------------------------------------------------*/
.hidden {
  display: none;
}

/*------------------------------------------------------------*
 * =Content, Middle
 *------------------------------------------------------------*/
#middle {
  float: left;
  width: 100%;

  position: relative;
  padding: $defaultPadding;
  @include narrower($veryNarrow) {
    // TODO Always keep padding at 0, set margin on child elements instead
    // to avoid negative margins overflowing body.
    padding: 0;
  }
  bottom: 0;
}

#content p {
  padding: 1em;
}


/* =Form layout
 *------------------------------------------------------------*/
.form {
  display: table;
  border-collapse: collapse;

  .field {
    display: table-row;

    label {
      display: table-cell;
      padding: { right: $defaultPadding * 0.9; }
      vertical-align: middle;
    }
    input {
      display: table-cell;
      vertical-align: middle;
    }
    label, input {
      margin: { 
        top: $defaultPadding * 0.33;
        bottom: $defaultPadding * 0.33;
      }
    }
    .help {
      display: table-cell;
      padding: { left: max($defaultPadding, 0.5em); }
      vertical-align: middle;
    }
  }

  .submit {
    display: block;
  }
}

/*------------------------------------------------------------*
 * =Page specific
 *------------------------------------------------------------*/

// Board, Thread
//------------------------------
.multiReport, .divRefresh {
  input:not([type="file"]) {
    color: $discreeteInputColor;
    background-color: $discreeteInputBgColor;
  }
}

/* =Post content
/* =Catalog
 *------------------------------*/
@import 'pages';

/* =Components
 *------------------------------*/
@import 'cmp';
