// Colors here must reference colors in the theme's palette with
//  palette('key'), without assuming anything about their value

$borderColorMain: mix(palette('bgMain'), palette('fgMain'), 80%);
$borderColorAlt: mix(palette('bgAlt'), palette('fgAlt'), 80%);

$buttonBgColor: palette('bgAlt');

@mixin mainColors {
  background-color: palette('bgMain');
  color: palette('fgMain');
  border-color: $borderColorMain;
}

@mixin altColors {
  background-color: palette('bgAlt');
  color: palette('fgAlt');
  border-color: $borderColorAlt;
}

@mixin headerColors {
  background-color: palette('bgAlt');
  color: palette('fgAlt');
  border-color: $borderColorAlt;
}
