extends ../../templates/jade/base

block title
  | #{siteTitle} - #{l.titAbout}

block headerTitle
  +title(l.titAboutPage)

block append bottomScripts
  +script('ext.js')

block append styles
  +style('ext.css')

block content
  section#aboutPage
    h1= siteTitle
      if siteLicense
        small siteLicense

    main#aboutPageSiteDesc
      include:markdown $LANGUAGE_PACK/md/aboutSiteDescription.md

    section#aboutPageEngineDesc
      include:markdown $LANGUAGE_PACK/md/aboutEngineDescription.md
