extends ../../templates/jade/base

block pageId
  - var pageId = 'faq';

block title
  | #{siteTitle} - #{l.titFAQ}

block headerTitle
  +title(titFAQPage)

block append bottomScripts
  +script('ext.js')

block append styles
  +style('ext.css')

block content
  section#globalRules
    include $LANGUAGE_PACK/jade/faq.jade

  +helpAdditionalLinks
