extends ../../templates/jade/base

block pageId
  - var pageId = 'globalRules';

block title
  | #{siteTitle} - #{l.titGlobalRules}

block headerTitle
  +title(titGlobalRulesPage)

block append bottomScripts
  +script('ext.js')

block append styles
  +style('ext.css')

block content
  section#globalRules
    include $LANGUAGE_PACK/jade/globalRules.jade

  +helpAdditionalLinks
