extends ../../templates/jade/base

block pageId
  - var pageId = 'help';

block title
  | #{siteTitle} - #{l.titHelp}

block headerTitle
  +title(titHelpPage)

block append bottomScripts
  +script('ext.js')

block append styles
  +style('ext.css')

block content
  section#postingHelp
    include $LANGUAGE_PACK/jade/helpPosting.jade

  section#helpAdditionalLinks
    nav
      ul
        li: a(href=baseStaticUrl+'/moderation.html') Moderation help
