extends ../../templates/jade/base

block title
  | #{siteTitle} - #{l.titHelp}

block headerTitle
  +title(titHelpPage)

block append styles
  +style('ext.css')

block content
  section#postingHelp
    include $LANGUAGE_PACK/jade/helpPosting.jade
