extends ../../templates/jade/base

block title
  | #{siteTitle} - Help page

block headerTitle
  +title('Help page')

block append styles
  +style('ext.css')

block content
  section#postingHelp
    | include:markdown ../../res/md/helpPosting.md
