/* =Color theme
------------------------------------------------------------ */
$bgMain: #e5e5e5;
$fgMain: #252525;
$borderColorMain: mix($bgMain, $fgMain, 80);

$bgAlt: #dadada;
$fgAlt: $fgMain;
$borderColorAlt: mix($bgAlt, $fgAlt, 80);

$accentA: #2277a0;
