<html>
<body>
  Logged in as
  <span id="labelLogin"></span>
  <form action="/logout.js">
    <input
      type="button"
      id="logoutJsButton"
      onClick="logout()"
      style="display: none"
      value="Logout">
    <input
      id="logoutFormButton"
      type="submit"
      value="Logout">
  </form>

  <a
    id="globalManagementLink"
    href="/globalManagement.js">Global management</a>

  <br>
  <form
    action="/createBoard.js"
    enctype="multipart/form-data"
    method="post">
    Board URI:
    <input
      type="text"
      name="boardUri"
      id="newBoardFieldUri">
    <br>
    Board name:
    <input
      type="text"
      id="newBoardFieldName"
      name="boardName">
    <br>
    Board description:
    <input
      type="text"
      id="newBoardFieldDescription"
      name="boardDescription">
    <br>
    <input
      type="button"
      id="newBoardJsButton"
      onClick="createBoard()"
      style="display: none"
      value="Create board">
    <input
      id="newBoardFormButton"
      type="submit"
      value="Create board">
  </form>

  Owned boards:
  <div id="boardsDiv"></div>
</body>

<script src="http://static.localhost:8080/settings.js"></script>
<script src="http://static.localhost:8080/api.js"></script>
<script src="http://static.localhost:8080/account.js"></script>

</html>