<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>
  <h1 id="labelName"></h1>
  <h3 id="labelDescription"></h3>
  <a href="/account.js">Account</a>
  <br>
  <a id="linkManagement">Manage Board</a>
  <br>

  <form
    action="../newThread.js"
    enctype="multipart/form-data"
    method="post">
    Name:
    <input
      type="text"
      id="fieldName"
      name="name" />
    <br>
    Subject:
    <input
      type="text"
      id="fieldSubject"
      name="subject" />
    <br>
    Email:
    <input
      name="email"
      type="text"
      id="fieldEmail">
    <br>
    Password:
    <input
      name="password"
      type="password"
      id="fieldPassword">
    <br>
    <span style="vertical-align: top;">Message:</span>
    <br>
    <textarea
      rows="8"
      cols="50"
      name="message"
      id="fieldMessage"></textarea>
    <br>
    Images:
    <input
      type="file"
      id="files"
      name="files"
      multiple>
    <br>
    <input
      type="button"
      id="jsButton"
      onClick="postThread()"
      value="Create thread"
      style="display: none;">
    <input
      type="submit"
      id="formButton"
      value="Create thread">
    <input
      id="boardIdentifier"
      type="hidden"
      name="boardUri">
  </form>

  <br>
  <form
    method="post"
    action="../contentActions.js"
    enctype="multipart/form-data">
    <div id="divPostings"></div>
    Reason:
    <input
      type="text"
      id="reportFieldPassword"
      name="reason">
    <br>
    Password:
    <input
      type="password"
      id="deletionFieldPassword"
      name="password">
    <br>
    <input
      type="checkbox"
      name="global">
    Global report
    <br>
    <input
      type="submit"
      id="deleteFormButton"
      value="Delete"
      name="action">

    <input
      type="button"
      style="display: none;"
      id="deleteJsButton"
      onClick="deletePosts()"
      value="Delete">
    <input
      type="submit"
      id="reportFormButton"
      value="Report"
      name="action">

    <input
      type="button"
      style="display: none;"
      id="reportJsButton"
      onClick="reportPosts()"
      value="Report">

  </form>

  <br>
  <div id="divPages"></div>
  <br>

</body>

<script src="http://static.localhost:8080/settings.js"></script>
<script src="http://static.localhost:8080/api.js"></script>
<script src="http://static.localhost:8080/board.js"></script>
<script src="http://static.localhost:8080/posting.js"></script>

</html>
