@import '../sass';

$catalogThumbSize: max($thumbSize * 0.7, 128px)!default;
$catalogCellWidth: $catalogThumbSize;
$catalogCellPaddingHorizontal: $defaultPadding * 0.66;

// Breakpoints
$bpCatalog2Columns: (($catalogThumbSize + emToPx($defaultPadding)) * 2) +
  (emToPx($catalogCellPaddingHorizontal) * 2);//32em;
$bpCatalog3Columns: (($catalogThumbSize + emToPx($defaultPadding)) * 3) +
  (emToPx($catalogCellPaddingHorizontal) * 3);


// Contain thread cells
.catalog {
  text-align: center;
}

.catalogCell {
  box-sizing: content-box;
  background-color: $catalogCellBgColor;
  color: $catalogCellColor;

  vertical-align: top;
  display: inline-block;
  min-width: $catalogThumbSize;
  //width: $catalogThumbSize + $emMostCommonPxSize; //Fallback
  width: $catalogThumbSize;
  
  border: $catalogCellBorderSize solid $catalogCellBorderColor;
  margin: {
    top: 0;
    right: ($catalogCellPaddingHorizontal / 2);
    bottom: ($defaultPadding * 0.66);
    left: ($catalogCellPaddingHorizontal / 2);
  }

  @include narrower($bpCatalog3Columns) {
    width: 43%;
    margin: {
      right: ($catalogCellPaddingHorizontal / 3);
      left: ($catalogCellPaddingHorizontal / 3);
      bottom: ($catalogCellPaddingHorizontal / 3) * 2;
    }
  }

  @include narrower($bpCatalog2Columns) {
    width: 100%;
    margin: 0;
    border: {
      left: none;
      right: none;
      bottom: none;
    }
  }

  &.catalogCellLinkHover {
    background-color: $catalogCellLinkHoverBgColor;
  }
}

$catalogCellPadding: $internalPadding * 0.8;

// Everything except the footer
.catalogCellContent {
  height: $catalogThumbSize + 13 * $emMostCommonPxSize; //Fallback
  height: calc(#{$catalogThumbSize} + 13em);
  @include narrower($bpCatalog3Columns) {
    height: calc(#{$catalogThumbSize} + 9em);
  }
  @include narrower($bpCatalog2Columns) {
    height: calc(#{$catalogThumbSize} + 5em);
  }

  overflow: hidden;
  margin-bottom: $catalogCellPadding;
}

.catalogMessageWrap {
  margin: { left: $catalogCellPadding; right: $catalogCellPadding; }
  overflow-x: hidden;
  overflow-y: auto;
}
.catalogCell .divMessage {
  text-align: left;
  font-size: 0.9em;
}

// Footer
.catalogThreadDetails {
  font-size: $smallFontSize;
  color: $catalogSecondaryColor;
  margin-bottom: $catalogCellPadding;
  height: 1.1em;

  .labelReplies, .labelImages {
    margin-left: $internalPadding * 2;
    &:after {
      margin-left: 0.3em;
    }
  }

  .labelPage {
    display: none; // Kind of useless
    //float: right;
  }
}

.catalogCellHeader {
  //height: $catalogThumbSize + $emMostCommonPxSize; //Fallback
  text-align: center;

  .linkThumb {
    min-height: $catalogThumbSize * 0.5;
    max-height: $catalogThumbSize * 0.8;
    vertical-align: center;
    display: inline-block;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
    }

    > img { // TEMP, TODO remove when hardcoded dimensions are removed
      width: auto!important;
      height: auto!important;
      max-width: $catalogThumbSize;
      max-height: $catalogThumbSize * 0.8;
      @include narrower($bpCatalog2Columns) {
        max-width: 100%;
      }
    }
  }
  .labelSubject {
    display: inline-block;
    clear: left;
  }

}
