//- Minimal page
include baseMixins

doctype html
html
  block html
    head
      block head
        meta(charset='UTF-8')
      block title
      block styles
        +style('main.css')
    body
      block body
      div#middle
        block middle
