//- Minimal page
include baseMixins

doctype html
html
  block html
    head
      block head
        meta(charset='UTF-8')
      title
        block title
      block styles
        +style('main.css')
      block pageId
      block topScripts
    body
      block body
      div#middle
        block middle
      block bottomScripts
