//- Minimal page
include variables
include baseMixins

//-=Settings
block settings
  block pageId
    - var pageId = 'undefined';

doctype html
html
  block html
    head
      block head
        meta(charset='UTF-8')
      block favicon
        +favicon()
      title
        block title
      block styles
        +style('main.css')
      block topInlineScript
        script
          +pageIdDeclaration(pageId)
      block topScripts
        block pageIdJs
          | var pageId = '#{pageId}';
      block preloads
        +preloads()
    body
      block body
      div#middle
        block middle
      block bottomScripts
