//- Minimal page
include variables
include baseMixins

//-=Settings
block pageId
  - var pageId = undefined;

doctype html
html
  block html
    head
      block head
        meta(charset='UTF-8')
        //- Prevents mobile browsers from rendering the page "zoomed-out"
        meta(name=viewport content='width=device-width, initial-scale=1')
      block favicon
        +favicon()
      title
        block title
      block styles
        +style('main.css')
      block topInlineScript
        script
          +pageIdDeclaration(pageId)
      block topScripts
      block preloads
        +preloads()
    body
      block body
      div#middle
        block middle
      block bottomScripts
