//-=Settings
//- Require data passed by gulp 'jade'
//------------------------------------------------------------
- var baseStylesUrls  = [ baseStaticUrl+"/css/main.css" ];
- var baseScriptsUrls = [ baseStaticUrl+'/settings.js', baseStaticUrl+'/api.js'];

//- Mixins
//------------------------------------------------------------
include baseMixins

//-=Layout
//------------------------------------------------------------
doctype html
html
  block html
    head
      block head
        meta(charset="utf-8")
        title 
          block title
        block styles
          for styleUrl in baseStylesUrls
            link(rel="stylesheet", href=styleUrl)
    body
      block body
        //-Header
        block header
          header
            block headerTitle
              h1 #{siteTitle}
            //-Menu
            nav#userMenu
              ul
                +userMenuEntry
                  a(href='/account.js') Account
                block userMenu
        div#middle
          block middle
            block pageMenu
            //-Content
            main#content
              block content

        //-Footer
        footer
          block footer
        block scripts
          for scriptUrl in baseScriptsUrls
            script(src=scriptUrl)
