
<form id="newThreadForm" method="post" action="Create thread" enctype="multipart/form-data" class="postForm">
  <label for="fieldName">Name:
    <input id="fieldName" type="text" name="name"/>
  </label>
  <label for="fieldSubject">Subject:
    <input id="fieldSubject" type="text" name="subject"/>
  </label>
  <label for="fieldEmail">Email:
    <input id="fieldEmail" name="email" type="text"/>
  </label>
  <label for="fieldPassword">Password:
    <input id="fieldPassword" name="password" type="password"/>
  </label>
  <label for="fieldMessage">Message:
    <textarea id="fieldMessage" rows="8" cols="50" name="message"></textarea>
  </label>
  <label for="files">Images:
    <input id="files" type="file" name="files" multiple=""/>
  </label>
  <label for="fieldCaptcha">Captcha:<img src="/captcha.js"/>
    <input id="fieldCaptcha" name="captcha" type="text"/>
  </label>
  <input id="jsButton" type="button" onclick="postThread()" value="Create thread" style="display: none;"/>
  <input id="formButton" type="submit" value="Create thread"/>
  <input id="boardIdentifier" type="hidden" name="boardUri"/>
</form>