include postForm

+postForm({
  action:'Create thread',
  actionFile:'newThread.js',
  actionFunction:'postThread()'
  })#newThreadForm.postForm
  input#boardIdentifier(type='hidden', name='boardUri')
