include postForm

section#postFormWrapper
  +postForm({
    actionName:'Create thread',
    actionFile:'newThread.js',
    actionFunction:'postThread()'
    })#newThreadForm.postForm
    input#boardIdentifier(type='hidden', name='boardUri')
