include variables

nav
  ul#pageFooterItems
    li: a(href=baseUrl)= siteTitle
        if siteLicense
          | ' - '#{siteLicense}
    li: a(href=helpPageUrl) Help
    li: a(href=aboutPageUrl) About
