block variables
  - var postType = 'Reply';

block outer
  if postType == 'Op'
    | <div class="opWrapper">
  article(class='post'+postType)
    header(class='post'+postType+'Header')
      .postHeaderInner
        input.deletionCheckBox(type='checkbox')
        block postInfo
          ul
            li.labelSubject
            li: a.linkName
            li.labelRole
            li.spanId #{l.postHeader.threadWiseIDPrefix}:#[span.labelId]
            li.labelCreated
            block opIndicators
            li
              | #[a.linkSelf #{l.postHeader.postNumberPrefix}]#[a.linkQuote]
            li.panelRange #{l.guiIPRangeLabel}: #[span.labelRange]
            block linkReply
    section.postContent
      .panelUploads
      p.divMessage
    .divBanMessage
  if postType == 'Op'
    | </div>
    .labelOmission
