article
  header
    input.deletionCheckBox(type='checkbox')
    block postInfo
      span.labelSubject
      a.linkName
      span.labelRole
      small
        span.labelCreated
        span.spanId
          span.labelId
      block opIndicators
      a.linkSelf No.
      a.linkQuote
      span.panelRange #{l.guiIPRangeLabel}: #[span.labelRange]
  section
    .panelUploads
    p.divMessage
  .divBanMessage
