block variables
  - var postType = 'Reply';

block outer
  if postType == 'Op'
    | <div class="opWrapper">
  article(class='post'+postType)
    header(class='post'+postType+'Header')
      block postInfo
        ul
          li: input.deletionCheckBox(type='checkbox')
          li.labelSubject
          li: a.linkName
          li.labelRole
          li.labelCreated
          li.spanId
          li.labelId
          block opIndicators
          li: a.linkSelf No.
          li: a.linkQuote
          li.panelRange #{l.guiIPRangeLabel}: #[span.labelRange]
          block linkReply
    section.postContent
      .panelUploads
      p.divMessage
    .divBanMessage
  if postType == 'Op'
    | </div>
