article
  header
    input.deletionCheckBox(type='checkbox')
    block postInfo
      span.labelSubject
      a.linkName
      span.labelRole
      span.labelCreated
      span.spanId
        span.labelId
      block opIndicators
      a.linkSelf
      span.panelRange Ip range: #[span.labelRange]
  section
    .panelUploads
    p.divMessage
  .divBanMessage
