//- Variables
//- (Requires data passed by gulp 'jade')
//------------------------------------------------------------

//- lang (object containing all the localization keys)
//- l (shorthand for lang)

//- siteTitle

//- baseUrl
//- baseStaticUrl
- var baseStylesUrls        = [ baseStaticUrl+"/css/main.css" ];
- var baseTopScriptsUrls    = [ baseStaticUrl+'/js/pre.js'];
- var baseBottomScriptsUrls = [ baseStaticUrl+'/js/post.js'];
- var siteLogoUrl           = baseStaticUrl+'/images/logo.png';

- var helpPageUrl           = baseStaticUrl+'/help.html'
- var aboutPageUrl          = baseStaticUrl+'/about.html'
- var accountSettingsUrl    = baseUrl+'/account.js'

