//- Variables
//- (Requires data passed by gulp 'jade')
//------------------------------------------------------------

//- baseUrl
- var baseStylesUrls  = [ baseStaticUrl+"/css/main.css" ];
- var baseScriptsUrls = [ baseStaticUrl+'/settings.js', baseStaticUrl+'/api.js'];
- var siteLogoUrl = baseStaticUrl+'/images/logo.png';
