//- Variables
//- (Requires data passed by gulp 'jade')
//------------------------------------------------------------

//- siteTitle

//- baseUrl
//- baseStaticUrl
- var baseStylesUrls  = [ baseStaticUrl+"/css/main.css" ];
- var baseScriptsUrls = [ baseStaticUrl+'/settings.js', baseStaticUrl+'/api.js'];
- var siteLogoUrl = baseStaticUrl+'/images/logo.png';

- var helpPageUrl = baseStaticUrl+'/help.html'
- var aboutPageUrl = baseStaticUrl+'/about.html'
