@import 'functions';
@import 'theme';
@import 'defaultTheme';

@function palette($key) {
  @return map-get($palette-colors, $key);
}

//============================================================
// Colors here must reference colors in the theme's palette with
//  palette('key'), without assuming anything about their value
//  except sufficient contrast between foreground and background.
//============================================================

// =Contrast
//============================================================
// [-100, 100]
// > 0: dark on light
// < 0: light on dark
$mainContrast: percToNum(contrast(palette('fgMain'), palette('bgMain')))!default;
$altContrast:  percToNum(contrast(palette('fgAlt'), palette('bgAlt')))!default;

$strongestContrast: max(abs($mainContrast), abs($altContrast))!default;
$weakerContrast:    min(abs($mainContrast), abs($altContrast))!default;

// [-100, 100]
// > 0: saturated on dull
// < 0: dull on saturated
$mainSaturationContrast: percToNum(contrast-saturation(palette('fgMain'), palette('bgMain')))!default;
$altSaturationContrast:  percToNum(contrast-saturation(palette('fgAlt'), palette('bgAlt')))!default;

$strongestSaturationContrast:
  max(abs($mainSaturationContrast), abs($altSaturationContrast))!default;
$weakerSaturationContrast:
  min(abs($mainSaturationContrast), abs($altSaturationContrast))!default;

$fontColorContrast: 0.5 * $mainContrast!default;

//=============================================================
$linkColor:           mix(palette('fgMain'), palette('accentA'))!default;
$linkHoverColor:      take-color($linkColor, palette('accentB'))!default;


$minorHeaderBgColor:  if($vibrant,
  palette('accentA'),
  intensify(palette('bgAlt'), palette('fgMain'), 10))!default;
$minorHeaderColor:    intensify($minorHeaderBgColor, palette('fgMain'), 45)!default;  
$minorHeaderBold:     550;

//=============================================================
$borderColorMain:     mix(palette('bgMain'), palette('fgMain'), 80%);
@mixin mainColors {
  background-color:   palette('bgMain');
  color:              palette('fgMain');
  border-color:       $borderColorMain;
}

$borderColorAlt:      mix(palette('bgAlt'), palette('fgAlt'), 80%);
@mixin altColors {
  background-color:   palette('bgAlt');
  color:              palette('fgAlt');
  border-color:       $borderColorAlt;
}

// Body
//============================================================
$bodyBackground: false!default;

// Posts
//============================================================
// Header
$nameColor:           take($linkColor, palette('accentA'),
                    $saturation: 100, $hue: 100)!default;
// false -> normal, true -> bold or a numerical value (400 = normal, 700 = bold)
$nameBold:            550!default;
$nameEmailColor:      $linkColor!default;
$roleColor:           take-lightness(palette('warning'), $linkColor)!default;
$subjectColor:        take($linkColor, palette('accentB'),
                    $saturation: 100, $hue: 100)!default;
$subjectBold:         550!default;

$linkReplyColor:      $linkColor!default;
// Message
$greenTextColor:      take-lightness(#0f0, palette('fgMain'), 50%)!default;
$quoteLinkColor:      $linkColor!default;

// =Buttons
//=============================================================
$buttonBgOpacity:     0.5;

$submitBgColor:       mix(palette('fgAlt'), palette('bgAlt'), 50%);
$submitFgColor:       palette('bgMain');

$buttonBgColor:       mix(palette('bgAlt'), $submitBgColor, 70%);
$buttonFgColor:       palette('fgAlt');

@mixin buttonColors {
  background-color:   $buttonBgColor;
  color:              $buttonFgColor;
  border-color:       mix($buttonBgColor, palette('fgMain'));
}

@mixin submitColors {
  background-color:   $submitBgColor;
  color:              $submitFgColor;
  border-color:       mix($buttonBgColor, palette('fgMain'));
}

// =Post form
//=============================================================
$postFormBgColor:     palette('bgAlt');
$postFormBorderColor: $borderColorAlt;
$postFormColor:       palette('fgAlt');

// =Header
//=============================================================
@mixin headerColors {
  background-color:   palette('bgAlt');
  color:              palette('fgAlt');
  border-color:       $borderColorAlt;
}
