@import 'functions';
@import 'theme';
@import 'defaultTheme';

@function palette($key) {
  @return map-get($palette-colors, $key);
}

//============================================================
// Colors here must reference colors in the theme's palette with
//  palette('key'), without assuming anything about their value
//  except sufficient contrast between foreground and background.
// Includes some variables that aren't strictly colors.
//============================================================

// =Contrast
//============================================================
// [-1, 1]
// > 0: dark on light
// < 0: light on dark
$mainContrast: percToNum(contrast(palette('fgMain'), palette('bgMain')))!default;
$altContrast:  percToNum(contrast(palette('fgAlt'), palette('bgAlt')))!default;

$strongestContrast: max(abs($mainContrast), abs($altContrast))!default;
$weakerContrast:    min(abs($mainContrast), abs($altContrast))!default;

// [-1, 1]
// > 0: saturated on dull
// < 0: dull on saturated
$mainSaturationContrast:      percToNum(contrast-saturation(palette('fgMain'), palette('bgMain')))!default;
$altSaturationContrast:       percToNum(contrast-saturation(palette('fgAlt'), palette('bgAlt')))!default;

$strongestSaturationContrast:
  max(abs($mainSaturationContrast), abs($altSaturationContrast))!default;
$weakerSaturationContrast:
  min(abs($mainSaturationContrast), abs($altSaturationContrast))!default;

$fontColorContrast:           0.5 * $mainContrast!default;

// =General
//=============================================================
$linkColor:          mix(palette('fgMain'), palette('accentA'))!default;
$linkHoverColor:     take-color($linkColor, palette('accentB'))!default;

$softerColor:        soften-lightness(palette('fgAlt'), palette('bgMain'), $fontColorContrast * 100)!default;

$minorHeaderBgColor: if($vibrant,
  palette('accentA'),
  intensify(palette('bgAlt'), palette('fgMain'), 10))!default;
$minorHeaderColor:   intense-lightness($minorHeaderBgColor, $weight: 60)!default;
$minorHeaderBold:    550!default;

$helpIconColor:      $softerColor!default;

$carefulBgColor:     palette('warning')!default;
$carefulFgColor:     soft($carefulBgColor)!default;

// =Shadows
//============================================================
$dropShadows:      minimal!default;
$shadows:          get-drop-shadows-pref($dropShadows);
$shadowsBaseColor: intensify-lightness(palette('bgMain'), palette('fgMain'))!default;
$shadowsAlpha:     0.15!default;
$shadowsColor:     rgba($shadowsBaseColor, $shadowsAlpha)!default;
$shadowsRadius:    0.4em!default;
@mixin tooltipShadows() {
  box-shadow: 0 0 #{$shadowsRadius * 5} rgba($shadowsBaseColor, $shadowsAlpha * 1.5 * $shadows);
};

//=============================================================
$borderColorMain:     mix(palette('bgMain'), palette('fgMain'), 80%);
@mixin mainColors {
  background-color:   palette('bgMain');
  color:              palette('fgMain');
  border-color:       $borderColorMain;
}

$borderColorAlt:      mix(palette('bgAlt'), palette('fgAlt'), 80%);
@mixin altColors {
  background-color:   palette('bgAlt');
  color:              palette('fgAlt');
  border-color:       $borderColorAlt;
}

// =Body
//============================================================
$bodyBackground: false!default;
$bodyBgColor:    palette('bgMain')!default;

// =Posts
//============================================================
$postInternalPadding:        $defaultPadding * 0.9;

$replyBgColor:               palette('bgAlt')!default;
$replyColor:                 palette('fgAlt')!default;
$opHeaderBackgroundColor:    transparent!default;
$replyHeaderBackgroundColor: transparent!default;
$postOpHeaderColor:          soften-lightness(palette('fgAlt'), palette('bgMain'), $fontColorContrast * 100)!default;
$postReplyHeaderColor:       soften-lightness(palette('fgAlt'), palette('bgAlt'), $fontColorContrast * 100)!default;

// Op
$opBackgroundColor:         intensify-lightness(
    palette('bgMain'), palette('fgMain'), 5);
$opColor:                   palette('fgMain');

$postOpInnerBorderColor:    intensify($opBackgroundColor,
    palette('fgMain'), 4.5%);
$opBorderTopColor:          intensify($postOpInnerBorderColor,
    palette('fgMain'), 7%);
$postReplyInnerBorderColor: intensify($replyBgColor, palette('fgMain'), 5%);
$postOpSpecialBorderColor:  $minorHeaderBgColor;
$opRegularBorder:           1px solid $postOpInnerBorderColor;


// Post header
$nameColor:      take($linkColor, palette('accentA'),
    $saturation: 100, $hue: 100)!default;
// false -> normal, true -> bold or a numerical value (400 = normal, 700 = bold)
$nameBold:       550!default;
$nameEmailColor: $linkColor!default;
$roleColor:      take-lightness(palette('warning'), $linkColor)!default;
$subjectColor:   take($linkColor, palette('accentB'),
    $saturation: 100, $hue: 100)!default;
$subjectBold:    550!default;

$linkReplyColor: $linkColor!default;

// Message
//Can either be a color to take the hue from, or 'false' to disable markedPost styling
$markedPost:        palette('accentB')!default;
$markedPostBgColor: if($markedPost,
  take-hue($replyBgColor, $markedPost, 90%), false)!default;

$greenTextColor:    take-lightness(#0f0, palette('fgMain'), 50%)!default;
$redTextColor:      take-lightness(#f00, palette('fgMain'), 50%)!default;
$redTextFontSize:   1.05em;
$redTextBold:       bold;
$quoteLinkColor:    $linkColor!default;

$spoilerColor:      soften-lightness(
  change-color(#000, $lightness: lightness(palette('fgMain'))),
  $replyBgColor,
  $weight: 20)!default;
$spoilerColorHover: intense-lightness($spoilerColor)!default;

// =Inputs
//=============================================================
$inputBgColor:          soft-lightness(palette('bgMain'))!default;
$inputColor:            soft-lightness(palette('fgMain'))!default;
$inputBorderColor:      intensify($inputBgColor, $inputColor, 19)!default;

$inputHoverBorderColor: adjust-color(take-lightness(palette('accentA'), $inputBorderColor), $saturation: -1%)!default;
$inputFocusBorderColor: adjust-color(take-lightness(palette('accentA'), $inputBorderColor), $saturation: -40%)!default;

$discreeteInputColor:   $inputColor!default;
$discreeteInputBgColor: intensify-lightness($inputBgColor, $inputColor, 2)!default;

// =Buttons
//=============================================================
$buttonBgOpacity:        0.5;

$buttonBgColor:          $inputBgColor!default;
$buttonColor:            $inputColor!default;
$buttonBorderColor:      $inputBorderColor!default;
$buttonBorder:           1px solid!default;
$buttonBorderRadius:     5px!default;

$buttonHoverBorderColor: intensify($buttonBorderColor, $buttonColor, $weight: 30)!default;
$buttonHoverColor:       intensify($buttonHoverBorderColor, $buttonColor, $weight: 20)!default;
$buttonHoverBgColor:     $buttonBgColor!default;

$submitColor:            $buttonColor!default;
$submitBgColor:          $buttonBgColor!default;
$submitBorderColor:      $buttonBorderColor!default;

$submitHoverBgColor:     $submitBgColor!default;
$submitHoverColor:       adjust-color(take-lightness(palette('accentA'), $buttonHoverColor), $saturation: -40%)!default;
$submitHoverBorderColor: $submitHoverColor!default;

$buttonCarefulBgColor:   intense(take-lightness($carefulBgColor, $buttonBorderColor), $weight: 15)!default;
$buttonCarefulColor:     $carefulFgColor;

@mixin buttonColors {
  background-color:      $buttonBgColor;
  color:                 $buttonColor;
  border-color:          $buttonBorderColor;
  &:hover {
    background-color:    $buttonHoverBgColor;
    color:               $buttonHoverColor;
    border-color:        $buttonHoverBorderColor;
  }
  &:active {
    background-color:    soft($buttonHoverBgColor, $weight: 3%);
    color:               soft($buttonHoverColor, $weight: 3%);
    border-color:        soft($buttonHoverBorderColor, $weight: 3%);
  }
}

@mixin submitColors {
  background-color:      $submitBgColor;
  color:                 $submitColor;
  border-color:          $submitBorderColor;
  &:hover {
    background-color:    $submitHoverBgColor;
    color:               $submitHoverColor;
    border-color:        $submitHoverBorderColor;
  }
  &:active {
    background-color:    soft($submitHoverBgColor, $weight: 3%);
    color:               soft($submitHoverColor, $weight: 3%);
    border-color:        soft($submitHoverBorderColor, $weight: 3%);
  }
}

// =Post form
//=============================================================
$postFormBgColor:       palette('bgAlt')!default;
$postFormBorderColor:   $borderColorAlt!default;
$postFormColor:         palette('fgAlt')!default;
$postFormLabelColor:    soften-lightness($postFormColor, $postFormBgColor, 30)!default;
$captchaFieldBgColor:   $discreeteInputBgColor!default;
$postFormSubmitBgColor: $discreeteInputBgColor!default;

// =Header
//=============================================================
$headerBgColor:       palette('bgAlt')!default;
$headerColor:         palette('fgAlt')!default;
$headerBorderColor:   $borderColorAlt!default;
@mixin headerColors {
  background-color:   $headerBgColor;
  color:              $headerColor;
  border-color:       $headerBorderColor;
}
$headerTitleColor:    take-lightness(palette('accentA'), $headerColor)!default;
$headerSubTitleColor: $headerTitleColor!default;

// =Footer
//============================================================
$footerBgColor:     intense(palette('bgAlt'), $weight: 10)!default;
$footerColor:       intense(palette('fgAlt'), $weight: 10)!default;
$footerBorderColor: soften-lightness($borderColorAlt, palette('fgAlt'), $weight: 50)!default;

// =Catalog
//=============================================================
$catalogCellBgColor:          palette('bgAlt')!default;
$catalogCellColor:            palette('fgAlt')!default;
$catalogCellBorderSize:       2px!default;
$catalogCellBorderColor:      intense(palette('bgAlt'), $weight: 9)!default;
$catalogSecondaryColor:       $postOpHeaderColor!default;
$catalogCellLinkHoverBgColor: intensify($catalogCellBgColor, $catalogCellColor, $weight: 4)!default;
