@import 'functions';
@import 'theme';

@function palette($key) {
  @return map-get($palette-colors, $key);
}
//============================================================
// Colors here must reference colors in the theme's palette with
//  palette('key'), without assuming anything about their value
//============================================================

$borderColorMain: mix(palette('bgMain'), palette('fgMain'), 80%);
@mixin mainColors {
  background-color: palette('bgMain');
  color: palette('fgMain');
  border-color: $borderColorMain;
}

$borderColorAlt: mix(palette('bgAlt'), palette('fgAlt'), 80%);
@mixin altColors {
  background-color: palette('bgAlt');
  color: palette('fgAlt');
  border-color: $borderColorAlt;
}

@mixin headerColors {
  background-color: palette('bgAlt');
  color: palette('fgAlt');
  border-color: $borderColorAlt;
}

$buttonBgOpacity: 0.1;
$buttonBgColor: mix(palette('fgAlt'), palette('bgAlt'), 70%);
$buttonFgColor: palette('bgAlt');

@mixin buttonColors {
  background-color: $buttonBgColor;
  color: $buttonFgColor;
  border-color: $buttonFgColor;
}
