// =Color theme
//------------------------------------------------------------
$palette-colors: (
  'bgMain':     #e5e5e5,
  'fgMain':     #252525,
  'bgAlt':      #dadada,
  'fgAlt':      #252525,

  'accentA':    #2277a0,
  'accentB':    #FF98A2,

  'warning':    #f9b3bc
) !default;

//$regularFont: ;
$monospaceFont: 'Meslo LG S DZ', Monaco, monospace !default;

$borderStyle: solid !default;
$borderWidth: 1px !default;

$defaultPadding: 1em !default;
