// =Color theme
//------------------------------------------------------------
$palette-colors: (
  'bgMain':     #e5e5e5,
  'fgMain':     #252525,
  'bgAlt':      #d3d3d3,
  'fgAlt':      #252525,

  'accentA':    #2277a0,
  'accentB':    #ff98a2,

  'warning':    #f9b3bc
) !default;

// Whether or not accent colors are used in some additional places
$vibrant: false!default;

//$regularFont: ;
$monospaceFont: 'Meslo LG S DZ', Monaco, monospace !default;

$borderStyle: solid !default;
$borderWidth: 1px !default;

$defaultPadding: 1em !default;

$dropShadows: 'full';

$nameBold:    bold;
