@mixin debugBorders($color: #f00) {
  *, *:before, *:after { /* DEBUG */
    border: solid 1px $color !important; /* DEBUG */
  } /* DEBUG */
}

@mixin negatePadding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  @if $top    != 0 { margin-top:    -$top; }
  @if $right  != 0 { margin-right:  -$right; }
  @if $bottom != 0 { margin-bottom: -$bottom; }
  @if $left   != 0 { margin-left:   -$left; }
}

@mixin hideLabel($labelForAttribute) {
  label[for=#{$labelForAttribute}] {
    display: none;
  }
}

@mixin marginHorizontal($value) {
  margin-left: $value;
  margin-right: $value;
}
