/* =General
------------------------------------------------------------*/
$emMostCommonPxSize: 14;

/* =Inputs
------------------------------------------------------------*/
$buttonPadding: initial;
$buttonMargin: initial;

/* =Footer
------------------------------------------------------------*/
$pageFooterRowCount: 3;
$pageFooterItemsSize: 0.7em;
$pageFooterPaddingTop: 1em;
$pageFooterHeight: ($pageFooterItemsSize + 0.2) * $pageFooterRowCount +
  $pageFooterPaddingTop;
