@import 'defaultTheme';
@import 'colors';

// =General
//------------------------------------------------------------
$emMostCommonPxSize: 14!default;
$smallFontSize:      0.8em!default;
$animationSpeed:     0.2s!default;
$internalPadding:    $defaultPadding / 2!default;

// =Inputs
//------------------------------------------------------------
$buttonPadding:     ($defaultPadding * 0.3) ($defaultPadding * 0.6) ($defaultPadding * 0.3) ($defaultPadding * 0.6)!default!default;
$buttonMargin:      initial!default;
$submitPadding:     ($defaultPadding * 0.4) ($defaultPadding * 0.7) ($defaultPadding * 0.4) ($defaultPadding * 0.7)!default!default;
$submitMargin:      $buttonMargin!default;
$textInputsPadding: $defaultPadding * 0.3!default;
$inputBorderWidth:  1px!default;
@mixin inputBorder($color: $inputBorderColor, $borderWidth: $inputBorderWidth) {
  border: solid $borderWidth $color;
}

// =Header
//------------------------------------------------------------
$headerPadding: 0.3em!default;
$bannerWidth: 21em!default;
$bannerHeight: $bannerWidth / 3!default;
$logoWidth: false!default;
$logoHeight: false!default;
$pageHeaderBorderBottomSize: 1px!default;
$pageHeaderHeight: $logoHeight; //Fallback
$pageHeaderHeight: calc(#{$logoHeight} + #{$pageHeaderBorderBottomSize})!default;


// =Post form
//------------------------------------------------------------
// $captchaImageRealDimensions: 300*100px
$captchaImageWidth: (300 / $emMostCommonPxSize) * 1em!default;
$startingFieldMessageWidth: 25em!default;
$postFormExternalPadding: $defaultPadding / 2!default;
$postFormPadding: $internalPadding!default;

$postFormSideInternalWidth: $captchaImageWidth + $postFormPadding * 2!default;
$postFormSideExternalWidth: $postFormSideInternalWidth + $postFormPadding * 2!default;

// =Posts layout
//------------------------------------------------------------
//$opPaddingRight: $postFormSideExternalWidth + ($defaultPadding * 2)!default;
$opPaddingLeft: $defaultPadding * 2!default; 
$postOpMarginLeft: -$defaultPadding!default;
$replyMarginRight: $defaultPadding * 1.2!default;
$replyMarginLeft: $opPaddingLeft + ($replyMarginRight - $opPaddingLeft)!default; 

// =Posts
//------------------------------------------------------------
$underlineQuotes: true!default;

// =Footer
//------------------------------------------------------------
$pageFooterRowCount: 3!default;
$pageFooterItemsSize: 0.7em!default;
$pageFooterPaddingTop: 1em!default;
$pageFooterHeight: ($pageFooterItemsSize + 0.2) * $pageFooterRowCount +
  $pageFooterPaddingTop!default;
