ul.banDetails
  li Id: #[span.idLabel]
  li Reason: #[span.reasonLabel]
  li Expiration: #[span.expirationLabel]
  li Applied by: #[span.appliedByLabel]
  li Boards: #[span.boardLabel]
fieldset.liftBan
  input.submit.liftFormButton(type='submit', value='Lift')
  input.submit.liftJsButton(type='button', value='Lift',
    style='display: none;')
  input.idIdentifier(type='hidden', name='banId')
