img.bannerImage
input.bannerIdentifier(type='hidden', name='bannerId')
input.deleteFormButton(type='submit', value=l.guiDeleteBanner)
input.deleteJsButton(type='button', value=l.guiDeleteBanner,
  onClick='deleteBanner()', style='display: none;')
