img.bannerImage
input.bannerIdentifier(type='hidden', name='bannerId')
input.deleteFormButton(type='submit', value='Delete banner')
input.deleteJsButton(type='button', value='Delete banner',
  onClick='deleteBanner()', style='display: none;')
