section.catalogThread
  header.catalogCellHeader
    a.linkThumb
    span.labelSubject
  div.divMessage
  footer.catalogThreadDetails
    span.labelReplies.fa.fa-comments
    span.labelImages.fa.fa-picture-o
    span.labelPage

    span.lockIndicator.fa.fa-lock(title=l.guiLockLabel)
    span.pinIndicator.fa.fa-thumb-tack(title=l.guiPinLabel)
    span.cyclicIndicator.fa.fa-refresh(title=l.guiCyclicLabel)
