section.catalogThread
  header.catalogCellHeader
    a.linkThumb
    span.labelSubject
  div.divMessage
  footer.catalogThreadDetails
    span.labelReplies
    span.labelImages
    span.labelPage
    span.lockIndicator Locked
    span.pinIndicator Pinned
    span.cyclicIndicator Cyclic
