| Original term: #[span.labelOriginal]
br
| Replacement term: #[span.labelReplacement]

input.boardIdentifier(type='hidden', name='boardUri')
input.filterIdentifier(type='hidden', name='filterIdentifier')
input.deleteFormButton(type='submit', value='Delete')
input.deleteJsButton(type='button', value='Delete',
    style='display: none;')
