p MD5: #[span.hashLabel]

input.idIdentifier(type='hidden', name='hashBanId')
input.liftFormButton(type='submit', value='Lift')
input.liftJsButton(type='button', value='Lift', style='display: none;')
