p MD5: #[span.hashLabel]

input.idIdentifier(type='hidden', name='hashBanId')
input.liftFormButton(type='submit',
    value=l.guiLiftBanAction)
input.liftJsButton(type='button',
    value=l.guiLiftBanAction, style='display: none;')
