table.logCell
  tr
    td Type
    td #[span.labelType] #[span.indicatorGlobal *Global* ]
  tr
    td User
    td #[span.labelUser]
  tr
    td Board
    td #[span.labelBoard]
  tr
    td Time
    td #[span.labelTime]
  tr
    td
    td #[span.labelDescription]
