input.deletionCheckBox(type='checkbox')
span.labelSubject
a.linkName
span.labelRole
span.labelCreated
span.spanId
  span.labelId
span.lockIndicator Locked
span.pinIndicator Pinned
span.cyclicIndicator Cyclic
a.linkSelf
a.linkReply Reply
span.panelRange Ip range: #[span.labelRange]
div.panelUploads
div.divMessage
div.divBanMessage
