html
  body
    .panelUploads
    | Name:
    span.labelName
    | Email:
    span.labelEmail
    | Subject:
    span.labelSubject
    a.linkSelf
    a.linkReply Reply
    span.lockIndicator Locked
    span.pinIndicator Pinned
    | Posted on:
    span.labelCreated
    input.deletionCheckBox(type='checkbox')
    | Message:
    .divMessage

