html
  body
    .panelUploads
    | Name:
    span.labelName
    br
    | Email:
    span.labelEmail
    br
    | Subject:
    span.labelSubject
    br
    a.linkSelf
    a.linkReply Reply
    span.lockIndicator Locked
    span.pinIndicator Pinned
    br
    | Posted on:
    span.labelCreated
    input.deletionCheckBox(type='checkbox')
    br
    | Message:
    .divMessage
    br
