extends ../jade/postContent

block variables
  - var postType = 'Op'

block linkReply
  li: a.linkReply [#{l.guiReplyLink}]

block opIndicators
  li: ul.threadStatus
    li.lockIndicator.fa.fa-lock(title=l.guiLockLabel)
    li.pinIndicator.fa.fa-thumb-tack(title=l.guiPinlabel)
    li.cyclicIndicator.fa.fa-refresh(title=l.guiCyclicLabel)
