extends ../jade/postContent.jade

block append postInfo
  a.linkReply Reply

block opIndicators
  span.lockIndicator.fa.fa-lock(title='Locked')
  span.pinIndicator.fa.fa-thumb-tack(title='Pinned')
  span.cyclicIndicator.fa.fa-refresh(title='Cyclic')
