input.deletionCheckBox(type='checkbox')
span.labelSubject
a.linkName
span.labelRole
span.labelCreated
span.spanId
  span.labelId
a.linkSelf
span.panelRange Ip range: #[span.labelRange]
div.panelUploads
div.divMessage
div.divBanMessage
