li
  h1 #{l.guiRangeBanCellLabelRange}: #[span.rangeLabel]
  input.idIdentifier(type='hiden', name='banId')
  input.liftFormButton.button.submit(type='submit',
      value=l.guiLiftRangeBan)
  input.liftJsButton.button.submit(type='button',
      value=l.guiLiftRangeBan, style='display: none;')
