li
  h1 Range: #[span.rangeLabel]
  input.idIdentifier(type='hiden', name='banId')
  input.liftFormButton.button.submit(type='submit', value='Lift ban')
  input.liftJsButton.button.submit(type='button', value='Lift ban',
      style='display: none;')
