html
  body
    | An recovery request was made for an lynxchan account associated to this e-mail
    | account.
    br
    |   To reset your password click
    |   
    a#linkRecovery here
    | . This link will remain valid for 24 hours.
    |   
    br
    |   If you did not request a password reset for this account, ignore this e-mail.
