html
  body
    | Reason:
    span.reasonLabel
    a.link View
    input.closeFormButton(type='submit', value='Close')
    input.closeJsButton(type='button', value='Close', style='display: none;')
    input.idIdentifier(type='hidden', name='reportId')
