p #{l.guiReportReason}:
  span.reasonLabel
a.link #{l.guiViewReportLink}
input.closeFormButton(type='submit',
    value=l.guiCloseReport)
input.closeJsButton(type='button',
    value=l.guiCloseReport, style='display: none;')
input.idIdentifier(type='hidden', name='reportId')
