span.textLabel
input.indexIdentifier(type='hidden', name='ruleIndex')
input.boardIdentifier(type='hidden', name='boardUri')
input#deleteFormButton(type='submit',
    value=l.guiDeleteRule)
input#deleteJsButton(type='button',
    value=l.guiDeleteRule, style='display: none;')
