span.userLabel
select.roleCombo(name='role')
input.userIdentifier(type='hidden', name='login')
input.saveFormButton(type='submit',
    value=l.guiSaveRole)
input.saveJsButton(type='button',
    value=l.guiSaveRole, style='display: none;')
