html
  body
    span.userLabel
    select.roleCombo(name='role')
    input.userIdentifier(type='hidden', name='login')
    input.saveJsButton(type='button', value='Save role', style='display: none;')
    input.saveFormButton(type='submit', value='Save role')
