span.userLabel
input.userIdentifier(type='hidden', name='login')
input.boardIdentifier(type='hidden', name='boardUri')
input(type='hidden', name='add', value='false')
input.removeJsButton(type='button', value='Remove volunteer', style='display: none;')
input.removeFormButton(type='submit', value='Remove volunteer')
